body {
  font-family: sans-serif;
  margin: fill;
  max-height: 100%;
  max-width: 100%;
  background-color: lightblue;


}
.navbar {
  background-color: lightblue;
  width: 100%;
  position: fixed;

}

.navbar a {
  color: black;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: lightblue;
}

.FarbeText{
  color: white;
}

.hintergrundWasser{
  background-color: lightblue;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;

}


h1{
  font-size: 25px;
  color: white;
}

.Aktivitäten{
  color: black;
  font-size: larger;
  text-decoration: black;
  text-decoration-style: dotted;
  text-decoration-line: underline;
  padding-bottom: 15px;
}

.textabstand{
  padding-left: 10px;
  padding-top: 50px;
}


img {
  padding: 5px;
  background: #fff;
}

.footer{
  display: flex;
  flex-direction: row;
  background: transparent;
  justify-content: space-around;
  align-items: center;
}

.icons {
  font-size: 8px;
  padding-left: 25px;
  padding-bottom: 5px;
}

.quellen{
  font-size: 8px;
}


div {
  width: 100px;
  height: 500px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: example;
  animation-duration: 4s;
}
@-webkit-keyframes example {
  0%   {background-color:red; left:400px; top:450px;}
  25%  {background-color:yellow; left:300px; top:0px;}
  50%  {background-color:blue; left:500px; top:300px;}
  75%  {background-color:green; left:0px; top:500px;}
  100% {background-color:red; left:0px; top:0px;}
}
